@import '_vars.scss';

// bg's
.-bg-info {
  background: $info-color;
}

.-bg-danger {
  background: $danger-color;
}

.-bg-warning {
  background: $warning-color;
}

.-bg-success {
  background: $success-color;
}

.-bg-white {
  background: $white-color;
}

.-bg-black {
  background: $black-color;
}

// text colors
.-txt-info {
  color: $info-color;
}

.-txt-warning {
  color: $warning-color;
}

.-txt-success {
  color: $success-color;
}

.-txt-danger {
  color: $danger-color;
}

.-txt-white {
  color: $white-color;
}

.-txt-black {
  color: $black-color;
}

// borders
.-bd-info {
  border-color: $info-color;
}

.-bd-warning {
  border-color: $warning-color;
}

.-bd-success {
  border-color: $success-color;
}

.-bd-danger {
  border-color: $danger-color;
}

.-bd-white {
  border-color: $white-color;
}

.-bd-black {
  border-color: $black-color;
}
