@import '_vars.scss';

// bg's
.-bg {
  &-info {
    background: $info-color;
  }
  &-danger {
    background: $danger-color;
  }

  &-warning {
    background: $warning-color;
  }

  &-success {
    background: $success-color;
  }

  &-white {
    background: $white-color;
  }

  &-black {
    background: $black-color;
  }
}

// text colors
.-txt {
  &-info {
    color: $info-color;
  }
  &-warning {
    color: $warning-color;
  }

  &-success {
    color: $success-color;
  }

  &-danger {
    color: $danger-color;
  }

  &-white {
    color: $white-color;
  }

  &-black {
    color: $black-color;
  }
}

// borders
.-bd {
  &-info {
    border-color: $info-color;
  }
  &-warning {
    border-color: $warning-color;
  }

  &-success {
    border-color: $success-color;
  }

  &-danger {
    border-color: $danger-color;
  }

  &-white {
    border-color: $white-color;
  }

  &-black {
    border-color: $black-color;
  }
}
