// Everything related to flexbox.

.-flex {
  display: flex;
}

.-in-flex {
  display: inline-flex;
}

.-jc-center {
  justify-content: center;
}

.-ai-center {
  align-items: center;
}

.-center {
  justify-content: center;
  align-items: center;
}

.-resp {
  flex-wrap: wrap;
}

.-pin {
  order: -1;
}
