@import '_vars.scss';

// Use specific padding or margin, so that other dimensions can be re-styled later
// paddings
.-px-xs {
  padding-left: $xs;
  padding-right: $xs;
}

.-px-sm {
  padding-left: $sm;
  padding-right: $sm;
}

.-px-md {
  padding-left: $md;
  padding-right: $md;
}

.-px-lg {
  padding-left: $lg;
  padding-right: $lg;
}

.-px-xl {
  padding-left: $xl;
  padding-right: $xl;
}

.-py-xs {
  padding-top: $xs;
  padding-bottom: $xs;
}

.-py-sm {
  padding-top: $sm;
  padding-bottom: $sm;
}

.-py-md {
  padding-top: $md;
  padding-bottom: $md;
}

.-py-lg {
  padding-top: $lg;
  padding-bottom: $lg;
}

.-py-xl {
  padding-top: $xl;
  padding-bottom: $xl;
}

// margins

.-mx-xs {
  margin-left: $xs;
  margin-right: $xs;
}

.-mx-sm {
  margin-left: $sm;
  margin-right: $sm;
}

.-mx-md {
  margin-left: $md;
  margin-right: $md;
}

.-mx-lg {
  margin-left: $lg;
  margin-right: $lg;
}

.-mx-xl {
  margin-left: $xl;
  margin-right: $xl;
}

.-my-xs {
  margin-top: $xs;
  margin-bottom: $xs;
}

.-my-sm {
  margin-top: $sm;
  margin-bottom: $sm;
}

.-my-md {
  margin-top: $md;
  margin-bottom: $md;
}

.-my-lg {
  margin-top: $lg;
  margin-bottom: $lg;
}

.-my-xl {
  margin-top: $xl;
  margin-bottom: $xl;
}

.-m-auto {
  margin: auto;
}
