@mixin border-radius($r) {
  border-radius: $r;
}

@mixin padding($y, $x) {
  padding: $y $x;
}

@mixin margin($y, $x) {
  margin: $y $x;
}

@mixin box-shadow($h-offset, $v-offset, $blur, $spread, $color) {
  box-shadow: $h-offset $v-offset $blur $spread $color;
}
