// Elements that don't match with any other classification out there in files
// includes `border`, `hover`, `border-radius`,

@import '_vars.scss';

// hover elements
.-h-opacity:hover {
  opacity: $opacity;
}

.-h-shadow:hover {
  box-shadow: $shadow;
}

// shadow
.-shadow {
  box-shadow: $shadow;
}

// border radii
.-round {
  border-radius: $md;
}

.-circle {
  border-radius: 50%;
}

// border
.-bd {
  border-width: $border;
  border-style: solid;
}

.-no-bd {
  border: none;
}

.fill {
  max-width: 100%;
}

