@import '_vars.scss';

.-txt {
  &-serif {
    font-family: $serif;
  }
  &-sans {
    font-family: $sans-serif;
  }

  &-italic {
    font-style: italic;
  }

  &-bold {
    font-weight: 700;
  }

  // sizes
  &-xs {
    font-size: $font-xs;
  }

  &-sm {
    font-size: $font-sm;
  }

  &-md {
    font-size: $font-md;
  }

  &-lg {
    font-size: $font-lg;
  }

  &-xl {
    font-size: $font-xl;
  }

  // aligns
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  // transform
  &-titlecase {
    text-transform: capitalize;
  }

  &-lowercase {
    text-transform: lowercase;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  // heights
  &-ht-xs {
    line-height: $font-xs;
  }

  &-ht-sm {
    line-height: $font-sm;
  }

  &-ht-md {
    line-height: $font-md;
  }

  &-ht-lg {
    line-height: $font-lg;
  }

  &-ht-xl {
    line-height: $font-xl;
  }
}

