@import '_vars.scss';

.-text-serif {
  font-family: $serif;
}

.text-sans {
  font-family: $sans-serif;
}

.-text-italic {
  font-style: italic;
}

.-text-bold {
  font-weight: 700;
}

// sizes
.-text-xs {
  font-size: $font-xs;
}

.-text-sm {
  font-size: $font-sm;
}

.-text-md {
  font-size: $font-md;
}

.-text-lg {
  font-size: $font-lg;
}

.-text-xl {
  font-size: $font-xl;
}

// aligns
.-text-center {
  text-align: center;
}

.-text-left {
  text-align: left;
}

.-text-right {
  text-align: right;
}

// transform
.-text-titlecase {
  text-transform: capitalize;
}

.-text-lowercase {
  text-transform: lowercase;
}

.-text-uppercase {
  text-transform: uppercase;
}

// heights
.-text-height-xs {
  line-height: $font-xs;
}

.-text-height-sm {
  line-height: $font-sm;
}

.text-height-md {
  line-height: $font-md;
}

.text-height-lg {
  line-height: $font-lg;
}

.text-height-xl {
  line-height: $font-xl;
}

// text colors
.-text-info {
  color: $info-color;
}

.-text-warning {
  color: $warning-color;
}

.-text-success {
  color: $success-color;
}

.-text-danger {
  color: $danger-color;
}
