@import '_vars.scss';

.-txt-serif {
  font-family: $serif;
}

.-txt-sans {
  font-family: $sans-serif;
}

.-txt-italic {
  font-style: italic;
}

.-txt-bold {
  font-weight: 700;
}

// sizes
.-txt-xs {
  font-size: $font-xs;
}

.-txt-sm {
  font-size: $font-sm;
}

.-txt-md {
  font-size: $font-md;
}

.-txt-lg {
  font-size: $font-lg;
}

.-txt-xl {
  font-size: $font-xl;
}

// aligns
.-txt-center {
  text-align: center;
}

.-txt-left {
  text-align: left;
}

.-txt-right {
  text-align: right;
}

// transform
.-txt-titlecase {
  text-transform: capitalize;
}

.-txt-lowercase {
  text-transform: lowercase;
}

.-txt-uppercase {
  text-transform: uppercase;
}

// heights
.-txt-ht-xs {
  line-height: $font-xs;
}

.-txt-ht-sm {
  line-height: $font-sm;
}

.-txt-ht-md {
  line-height: $font-md;
}

.-txt-ht-lg {
  line-height: $font-lg;
}

.-txt-ht-xl {
  line-height: $font-xl;
}
