// layout and measure vars
$xs: 0.125rem;
$sm: 0.25rem;
$md: 0.5rem;
$lg: 1rem;
$xl: 2rem;

// color vars taken from getbootstrap.com
$info-color:  #0275d8;
$success-color:  #5cb85c;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$black-color: #000000;
$white-color: #ffffff;

// font size and text related vars
$font-xs: 0.6rem;
$font-sm: 0.8rem;
$font-md: 1.0rem;
$font-lg: 1.2rem;
$font-xl: 1.4rem;

// font families
$serif: serif;
$sans-serif: sans-serif;

// opacity constant
$opacity: 0.75;
